<div class="main top-main">
  <div class="top-message">
    <h1>Check your deta!</h1>
    <p>ユーザー情報を確認し、パスワードを設定してください。</p>
  </div>

  <%= form_tag("/line_signup",{multipart: true}) do%>
  <div class="user-picture">ユーザーの写真</div>
  <img src="<%=@response[0]["picture"]%>" height="100" width="100">
  <div>
    <input name="picture" value="<%=@response[0]["picture"]%>">
  </div>

  <div class="user-name">ユーザー名</div>
  <div>
    <input name="name" value="<%=@response[0]["name"]%>">
  </div>

  <div class="user-password">ユーザーパスワード</div>
  <div>
    <input type="password" name="password">
  </div>
  <div>
    ※必ずパスワードを登録してください。
    ※パスワードは忘れず保管してください。
  </div>

  <div class="login-submit">
    <input type="submit" value="ユーザー情報を登録">
  </div>
  <%end%>

  <div class="click-message">
    ↑　↑　↑　↑　クリックして登録　↑　↑　↑　↑
  </div>

  <div>
    <%=@response%>
  </div>

</div>
