<div class="main">
  <div class="container">

    <!-詳細ページへの移動->
    <div class="back-to-show">
      <%= link_to("←編集取り消し","/tasks/#{@task.id}",class:"link-to-show") %>
    </div>

    <!-ページタイトル->
    <h2 class="edit-title">タスクの編集中...</h2>

    <!-入力時のエラー表示->
    <% @task.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <%end%>

    <!-登録中のタスク内容の表示->
    <%= form_tag("/tasks/#{@task.id}/update") do %>
    <div class="input-task-form">

      <div class="input-task-name">
        タスクの名称（content）：<input type="text" name="content" value="<%= @task.content%>">
      </div>

      <div class="input-task-detail">
        詳細情報（detail）:<textarea name="detail" rowa="4"><%=@task.detail%></textarea>
      </div>

      <div class="input-task-time">
        現在予定している目安時間（time）：<input type="number" name="planed_time" value="<%= @task.time%>">分
      </div>

      <div class="input-task-date">
        taskを実行する予定の日付（date）：<input type="date" name="date" value="<%= @task.date%>">
      </div>

      <div class="input-task-repeat">
        自動繰り返し処理（repeat）：  <span class="inputed-task-repeat"><u>（現在の登録：<%= @repeat_day[@task.repeat]%>）</u></span>
          <div>
            <label><input type="radio" name="repeat" value="8" >なし</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="7">毎日</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="0">毎週日曜日</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="1">毎週月曜日</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="2">毎週火曜日</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="3">毎週水曜日</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="4">毎週木曜日</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="5">毎週金曜日</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="6">毎週土曜日</label>
          </div>
          <div>
            <label><input type="radio" name="repeat" value="9" checked>変更しない</label>
          </div>
      </div>

      <div class="input-task-limit">
        <%if @task.limit%>
          締め切り期限(limit)：<input type="datetime-local" name="limit" value="<%=@task.limit.strftime("%Y-%m-%dT%H:%M")%>">
        <%else%>
          締め切り期限(limit)：<input type="datetime-local" name="limit">
        <%end%>
      </div>

      <div class="form-submit">
　　　　 <input type="submit" value="更新">
      </div>
    </div>
    <%end%>
  </div>
</div>
