<div class="main">
  <div class="container">

    <div class="link-index">
      <%= link_to("←task・eventの一覧へ戻る","/home/index")%>
    </div>

    <h2 class="unfinished-title">未完了のtask</h2>

    <div class="unfinished-list">
      <% if @unfinished_tasks.count>0%>
      <% @unfinished_tasks.each do |unfinished_task|%>
      <div class="unfinished-task">
        <% if !(unfinished_task.limit) || unfinished_task.limit - @datetime > 0 %>
        <div class="unfinished-task-name">
          task名：<%=link_to(unfinished_task.content,"/tasks/#{unfinished_task.id}",class:"task-link") %>
        </div>
        <div class="unfinished-task-date">
          実行予定日：<%= unfinished_task.date.year.to_s%>年<%= unfinished_task.date.month.to_s%>月<%= unfinished_task.date.day.to_s%>日
        </div>
        <div class="unfinished-task-limit">
          <%if unfinished_task.limit%>
           〆切：<%=unfinished_task.limit%>
          <%else%>
           〆切：なし
          <%end%>
        </div>
        <div class="add-today">
          <%= link_to("今日のtaskに追加する","/tasks/#{unfinished_task.id}/add", method:"post",class:"add-link")%>
        </div>
        <div class="link-to-finish-unfinished">
          <%= link_to("完了！","/tasks/#{unfinished_task.id}/destroy",method:"post",class:"finish-link-from-unfinished")%>
        </div>
        <%elsif unfinished_task.limit - @datetime < 0%>
        <div class="unfinished-task-name">
          task名：<%=link_to(unfinished_task.content,"/tasks/#{unfinished_task.id}",class:"task-link") %>(<font color="red">期限切れ！！</font>)
        </div>
        <div class="unfinished-task-date">
          実行予定日：<%= unfinished_task.date.year.to_s%>年<%= unfinished_task.date.month.to_s%>月<%= unfinished_task.date.day.to_s%>日
        </div>
        <div class="unfinished-task-limit">
           〆切：<%=unfinished_task.limit%>
        </div>
        <div class="add-today">
          <%= link_to("今日のtaskに追加する","/tasks/#{unfinished_task.id}/add", method:"post",class:"add-link")%>
        </div>
        <div class="link-to-finish-unfinished">
          <%= link_to("完了！","/tasks/#{unfinished_task.id}/destroy",method:"post",class:"finish-link-from-unfinished")%>
        </div>
        <%end%>
      </div>
      <%end%>
      <%else%>
      <div class="unfinished-empty">現在、未完了のtaskはありません。</div>
      <%end%>
    </div>
  </div>
</div>
