<div class="main">
  <div class="container">

    <!-今日の日付->
    <h1 class="today-date"><%= @today.month.to_s %>月<%= @today.day.to_s%>日　<%= @week[@today.wday]%></h1>

    <!-予約中のタスク、イベント確認ページへ移動->
    <div class="go-to-memory">
      <%= link_to("予約状況を確認する","/tasks/memory",class:"link-to-memory") %>
    </div>

    <!-前日までの未達成タスクの報告・確認ページへ移動->
    <% if @count > 0 %>
    <div class="unfinished-alert">
      <%= link_to("！！未完了のtaskが#{@count}件あります！！","/tasks/unfinished",class:"link-to-unfinished")%>
    </div>
    <%end%>

    <!-今日のタスクの達成率->
    <div class="today-achievement">
      <div class="today-achievement-rate">
        <%if @today_all_task.count>0%>
          本日のタスク達成率：<font color="lime"><%=@today_all_task.where(check:1).count*100/@today_all_task.count%></font>％
        <%else%>
          本日のタスク達成率：<font color="lime">0</font>%
        <%end%>
      </div>
      <div class="today-task-count">
        （本日の登録タスク数：<%=@today_all_task.count%>個　　　本日の終了済みタスク数：<%=@today_all_task.where(check:1).count%>個）
      </div>
    </div>

    <!-to-doリスト->
    <div class="to-do-list">
      <h2 class="list-name-to-do">To-Do-List<h2>
        <div class="to-do-list-item">

          <div class="task-total-time">
            総時間：　<u><%=@total_task_time / 60%>時間<%=@total_task_time % 60%>分</u>
          </div>

          <div class="link-add-task">
            <%= link_to("タスクの追加","/tasks/new",class:"task-add-link") %>
          </div>

          <% if @tasks.where(date:@today).count >0 %>
            <% @tasks.each do |task| %>
            <div class="to-do">
              <% if ((task.repeat == 8 || task.repeat == 7) && task.date == @today) || (task.repeat == @today.wday && task.date <= @today) %>
                <div class="to-do-name">
                  <% if task.limit%>
                    <% if task.limit-@datetime >= 60*60*24%>
                      <%= link_to(task.content,"/tasks/#{task.id}",class:"task-link") %>(<font color="red">〆切<%=((task.limit-@datetime)/(60*60*24)).to_i%>日前</font>)
                    <% elsif task.limit-@datetime > 0%>
                      <%= link_to(task.content,"/tasks/#{task.id}",class:"task-link") %>(<font color="red">〆切<%=((task.limit-@datetime)/(60*60)).to_i%>時間前</font>)
                    <%else%>
                      <%= link_to(task.content,"/tasks/#{task.id}",class:"task-link") %>(<font color="red">期限切れ！！</font>)
                    <%end%>
                  <%else%>
                    <%= link_to(task.content,"/tasks/#{task.id}",class:"task-link") %>
                  <%end%>
                </div>

                <div class="task-bottom-line">
                  <div class="to-do-time">
                    目安時間：<%= task.time %>分
                  </div>
                  <div class="task-repeat-type">
                    <%= @repeat[task.repeat]%>
                  </div>
                  <div class="to-do-finish">
                    <%= link_to("終わった！","/tasks/#{task.id}/destroy",method:"post",class:"finish-link")%>
                  </div>
                </div>
              <%end%>
            </div>
            <%end%>

          <%else%>
            <div class="no-task">現在予定しているtaskはありません。</div>
          <%end%>
        </div>
    </div>

      <!-イベントリスト->
      <div class="event-list">
        <h2 class="list-name-event">Event-List</h2>
        <div class="event-list-item">

          <div class="link-add-event">
            <%= link_to("イベントの追加","/events/new",class:"event-add-link") %>
          </div>

          <% if @events.where(repeat:8, date:@today).count >0 || @events.where(repeat:@today.wday).count>0 || @events.where(repeat:7).count>0 %>
            <% @events.each do |event|%>
            <div class="event">
              <% if (event.repeat==8 && event.date == @today) || event.repeat == @today.wday || event.repeat == 7%>
                <div class="event-name">
                  <%= link_to(event.content,"/events/#{event.id}",class:"event-link")%>
                </div>

                <div class="event-time">
                  <%if event.end_time %>
                    時間：<%=event.start_time.strftime('%H:%M')%>〜<%=event.end_time.strftime('%H:%M')%>
                  <%else%>
                    時間：<%=event.start_time.strftime('%H:%M')%>〜未定
                  <%end%>
                </div>

                <div class="event-place">
                  <% if event.place <= 1%>
                    場所：<%=@place[event.place]%>
                  <% elsif event.place == 2 %>
                    <% if event.place_detail%>
                      場所：学校　教室…<%=event.place_detail%>
                    <% else%>
                      場所：学校　教室…未定
                    <%end%>
                  <% elsif event.place == 3%>
                    <% if event.place_detail%>
                      場所：<%=event.place_detail%>
                    <% else%>
                      場所：未定
                    <%end%>
                  <%end%>
                </div>

                <div class="event-repeat-type">
                  <%= @repeat[event.repeat]%>
                </div>
              <%end%>
            </div>
            <%end%>

          <%else%>
            <div class="no-event">現在予定しているeventはありません。</div>
          <%end%>
        </div>
      </div>

      <!-直近１週間のタスク達成状況->
      <div class="weekly-achievement">
        <h1 class="achievement-title">---------------直近の達成状況---------------</h1>
        <div><font color="red">赤文字</font>は未達成。黒文字は達成済み。</div>

        <% for i in 1..7 do%>
          <div class="achievement-date">
            <%= (@today-i).month.to_s %>月<%= (@today-i).day.to_s%>日<%= @week[(@today-i).wday]%>
          </div>

          <div class="achievement-contents">
            <div class="achievement-list">
              <font color="olive">タスク一覧</font>

              <%if @user_tasks.where("date=?",@today-i).count>0%>
                <% @user_tasks.each do |task|%>
                <div class="achievement-list-contents">
                  <% if task.date == @today-i %>
                    <%if task.check==0%>
                      <div>・<font color="red"><%=task.content %></font></div>
                    <%else%>
                      <div>・<%=task.content%></div>
                    <%end%>
                  <%end%>
                </div>
                <%end%>
              <%else%>
                <div>登録されたタスクがありません。</div>
              <%end%>
            </div>

            <div class="achievement-details">
              <font color="purple">詳細データ</font>

              <div class="achievement-rate">
              <%if @user_tasks.where("date=?",@today-i).count>0 && @user_tasks.where("date=?",@today-i).where(check:1).count != 0%>
                タスク達成率：<font color="lime"><%=@user_tasks.where("date=?",@today-i).where(check:1).count*100/@user_tasks.where("date=?",@today-i).count%></font>%
              <%elsif @user_tasks.where("date=?",@today-i).count ==0 || @user_tasks.where("date=?",@today-i).where(check:1).count ==0%>
                タスク達成率：<font color="red">0</font>%
              <%end%>
              </div>

              <div class="total-time">
                総時間：<%=@user_tasks.where("date=?",@today-i).sum(:time)/60%>時間<%=@user_tasks.where("date=?",@today-i).sum(:time)%60%>分
              </div>

              <div class="achievement-total-time">
                完了済み総時間：<%=@user_tasks.where("date=?",@today-i).where(check:1).sum(:time)/60%>時間<%=@user_tasks.where("date=?",@today-i).where(check:1).sum(:time)%60%>分
              </div>

              <div class="time-achievement-rate">
                <%if @user_tasks.where("date=?",@today-i).sum(:time)>0 && @user_tasks.where("date=?",@today-i).where(check:1).sum(:time) != 0%>
                  時間達成率：<font color="aqua"><%=@user_tasks.where("date=?",@today-i).where(check:1).sum(:time)*100/@user_tasks.where("date=?",@today-i).sum(:time)%></font>%
                <%elsif @user_tasks.where("date=?",@today-i).sum(:time) ==0 || @user_tasks.where("date=?",@today-i).where(check:1).sum(:time) ==0%>
                  時間達成率：<font color="red">0</font>%
                <%end%>
              </div>
            </div>
          </div>
        <%end%>
      </div>

    </div>
  </div>
