<div class="main">
  <div class="container">

    <!-今日の予定に戻る->
    <div class="back-to-index">
      <%= link_to("←task・eventの一覧へ戻る","/home/index",class:"link-to-index")%>
    </div>


    <!-イベントの詳細情報->
    <div class="event-show">
      <h2 class="event-title">event名：<u><%= @event.content %></u></h2>

      <div class="event-data">
        <div class="event-date">
          <%if @event.repeat==8%>
            予定日：<%=@event.date.year.to_s%>年<%=@event.date.month.to_s%>月<%=@event.date.day.to_s%>日<%=@week[@event.date.wday]%>
          <%elsif @event.repeat==7%>
            予定日：毎日
          <%else%>
            予定日：毎週<%=@week[@event.repeat]%>
          <%end%>
        </div>

        <div class="show-event-time">
          <% if @event.end_time%>
            時間：<%=@event.start_time.strftime('%H:%M')%>〜<%=@event.end_time.strftime('%H:%M')%>
          <%else%>
            時間：<%=@event.start_time.strftime('%H:%M')%>〜未定
          <%end%>
        </div>

        <div class="show-event-place">
          <% if @event.place <= 1%>
            場所：<%=@place[@event.place]%>
          <% elsif @event.place == 2 %>
            <% if @event.place_detail%>
              場所：学校　教室…<%=@event.place_detail%>
            <% else%>
              場所：学校　教室…未定
            <%end%>
          <% elsif @event.place == 3%>
            <% if @event.place_detail%>
              場所：<%=@event.place_detail%>
            <% else%>
              場所：未定
            <%end%>
          <%end%>
        </div>

        <div class="event-detail">
          <% if @event.detail.length >0 %>
            詳細情報：<div><%= @event.detail%></div>
          <%else%>
            詳細情報：なし
          <%end%>
        </div>

        <div class="event-created-at">
          登録日：<%= @event.created_at.year.to_s%>年<%= @event.created_at.month.to_s%>月<%= @event.created_at.day.to_s%>日<%= @week[@event.created_at.wday]%>
        </div>

        <div class="event-updated-at">
          最終更新日：<%= @event.updated_at.year.to_s %>年<%= @event.updated_at.month.to_s%>月<%= @event.updated_at.day.to_s%>日<%= @week[@event.updated_at.wday]%>
        </div>

        <div class="go-to-event-edit">
          <%= link_to("編集","/events/#{params[:id]}/edit",class:"link-to-event-edit")%>
        </div>

        <div class="go-to-event-cancel">
          <%= link_to("予約削除！","/events/#{@event.id}/destroy",method:"post",class:"link-to-event-cancel")%>
        </div>

      </div>
    </div>
  </div>
</div>
